
@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@400&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

::-moz-color-swatch {
  border-color: white;
}

::-webkit-scrollbar {
    display: none;
}


@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}


@layer base {
  html {
    font-family: Nunito, "Segoe UI", arial;
  }
  body {
    overflow-y: hidden;
  }

  .btn-dark{
    @apply btn rounded-md bg-gray-700  text-white shadow-md shadow-black border-gray-700 hover:bg-gray-600 hover:border-gray-600
  }

  .btn-primary {
    @apply btn rounded-md bg-indigo-600 text-white shadow-md shadow-indigo-500 border-indigo-600 hover:bg-indigo-700 hover:border-indigo-700
  }


}



.drawer {
  z-index : 9999 !important;
}


.scrollbar-rounded {
  scrollbar-width: thin; /* Pour Firefox */
}
.scrollbar-rounded::-webkit-scrollbar {
  width: 8px; /* Largeur verticale */
  height: 8px; /* Largeur horizontale */
}
.scrollbar-rounded::-webkit-scrollbar-thumb {
  background-color: #4b5563; /* Couleur de la barre */
  border-radius: 10px; /* Bord arrondi */
}
.scrollbar-rounded::-webkit-scrollbar-track {
  background-color: #d1d5db; /* Couleur de l'arrière-plan */
  border-radius: 10px; /* Bord arrondi */
}

.scrollbar-hidden {
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none; /* Internet Explorer 10+ */
}

.scrollbar-hidden::-webkit-scrollbar {
  display: none; /* Chrome, Safari */
}

.scrollbar-hover {
  scrollbar-width: thin; /* Firefox */
}

.scrollbar-hover::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}

.scrollbar-hover::-webkit-scrollbar-thumb {
  background-color: #4b5563; /* Couleur de la scrollbar */
  border-radius: 4px; /* Bord arrondi */
}

.scrollbar-hover::-webkit-scrollbar-track {
  background-color: #d1d5db; /* Couleur de l’arrière-plan */
}