
@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@400&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

::-moz-color-swatch {
  border-color: white;
}

::-webkit-scrollbar {
    display: none;
}


@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}


@layer base {
  html {
    font-family: Nunito, "Segoe UI", arial;
  }

}

.drawer {
  z-index : 9999 !important;
}